{
  "directory": "main",
  "environment": "INT2",
  "rules": [
    {
      "event": {
        "personType": [
          "employee"
        ]
      },
      "triggers": [
        {
          "actions": [
            "python .\/scripts\/example_logdata.py --name=\"#N\" --age=\"#A\" --gender=\"#G\""
          ],
          "reply": {
            "message": "Script triggered!"
          }
        }
      ]
    }
  ],
  "userId": "userid",
  "userPwd": "Mij+z1j+pqwK9bxgmzFgBQ=="
}